@{
    ViewData["Title"] = "Admin";
}

@model IEnumerable<AAAAA_FUNCIONA_MDS.Models.Produto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Administração</h1>
</div>