@model AAAAA_FUNCIONA_MDS.Models.Categoria

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-white ms-5">Criar</h1>

<h4 class="text-white ms-5">Categoria</h4>

<div class="text-white">
    <div class="container text-light InfoSection ">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCategoria" class="control-label">Nome da categoria</label>
                <input asp-for="NomeCategoria" class="form-control InputInfo" />
                <span asp-validation-for="NomeCategoria" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Criar" class="btn btn-dark mt-3 ButtonEntrar align-items-center" />
                <a asp-action="Index" class="btn btn-dark mt-3 ButtonEntrar align-items-center">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

