@model IEnumerable<AAAAA_FUNCIONA_MDS.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white text-center ">Categorias</h1>

<p class="d-flex justify-content-center ">
    <a asp-action="Create" class="btn btn-dark m-2 ButtonEntrar">Criar nova</a>
</p>
<table class="table text-white shadow-lg ">
    <thead>
        <tr class="text-center">
            <th>
                Nome das Categoria
            </th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody >
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.NomeCategoria)
            </td>
            <td class="text-lg-center ">
                <a asp-action="Edit" asp-route-id="@item.CategoriaId" class="btn btn-dark m-2 ButtonEntrar">Editar</a>
                <a asp-action="Details" asp-route-id="@item.CategoriaId" class="btn btn-dark m-2 ButtonEntrar">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.CategoriaId" class="btn btn-dark m-2 ButtonEntrar">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
