
:root[b-gfw8mo582h] {
  --azulEscuro: #1C1B39 ;
  --preto: #13041F;
  --branco: #FDEDFF ;
  --azul: #141AB0;
  --azulAcinzentado: #463F70;
  --azulCinza: #38374D;
}

a.navbar-brand[b-gfw8mo582h] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-gfw8mo582h] {
  color: #0077cc;
}

.btn-primary[b-gfw8mo582h] {
  color: var(--branco);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-gfw8mo582h], .nav-pills .show > .nav-link[b-gfw8mo582h] {
  color: var(--branco);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-gfw8mo582h] {
  border-top: 1px solid var(--branco);
}
.border-bottom[b-gfw8mo582h] {
  border-bottom: 1px solid var(--branco);
}

.box-shadow[b-gfw8mo582h] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gfw8mo582h] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gfw8mo582h] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
