@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
  --azulEscuro: #1C1B39;
  --preto: #13041F;
  --branco: #FDEDFF;
  --brancoTransparente: #fdedff4e;
  --azul: #141AB0;
  --azulAcinzentado: #463F70;
  --azulCinza: #38374D;
  --pretoTransparente: rgba(0, 0, 0, 0.345);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem var(--branco), 0 0 0 0.25rem var(--azulEscuro);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--azulCinza);
}


.caro-img {
  height: 600px;
}

.shadow {
  position: relative;
}

.shadow::before {
  --Size: 0px;
  content: " ";
  background: transparent;

  box-shadow: 10px -8px 25px 40px var(--azulCinza);

  height: var(--Size);
  width: 100%;
  position: absolute;
  top: calc(var(--Size) * -1);
}

@media (max-width: 600px) {
  .caro-img {
    height: 250px;
  }
}

.InputInfo {
  background-color: var(--azulAcinzentado);
  border: none;
}

.InfoSection {
  background-color: var(--brancoTransparente);
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  width: 93%;

}

.ButtonEntrar {
  border: solid 2px black;
  background-color: var(--azul);
  border-radius: 7px;
  color: var(--branco);
}

.InputPesquisa {
  background-color: var(--branco);
  border-radius: 20px;
}

.DivInputPesquisa {
  margin-left: 40vw;
  margin-right: 40vw;
  margin-bottom: 30px;

}

.Lupa {
  border-radius: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-caption {
  background-color: var(--pretoTransparente);
}

.cardProduto {
  width: 200px; box-shadow: 4px 4px 10px rgba(222, 222, 222, 0.416);
}

@media (max-width: 500px) {
  .carousel-caption {
    margin-top: 100px;
  }

  #meuCarrossel {
    margin-top: 70px;
  }

  .cardProduto {
    width: 155px;
    height: 350px;
    box-shadow: 4px 4px 10px rgba(222, 222, 222, 0.416);
  }

  .DivInputPesquisa {
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 30px;
  
  }
  
  .Lupa {
    border-radius: 100px;
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}